<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexingdong.crawler.mapper.TmallItemMapper">
    <select id="login" resultType="TmallItem">
        <bind name="pattern" value="'%' + _parameter.itemName + '%'"/>
        SELECT *
        FROM tmall_item
        WHERE title LIKE #{pattern}
    </select>
</mapper>