<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexingdong.x.mapper.ActivityMapper">
    <insert id="insert">
        insert into "activity" (id, name, description, start_date_time, end_date_time, audit_status, created_at, created_by)
        values (#{id}, #{name}, #{description}, #{startDateTime}, #{endDateTime}, #{auditStatus}, now(), #{createdBy});
    </insert>

    <select id="findAll" resultType="Activity">
        select *
        from "activity"
        where deleted = false;
    </select>

    <select id="findAllByUserId" resultType="Activity">
        select *
        from "activity"
        where deleted = false and created_by = #{userId};
    </select>

    <update id="audit">
        update "activity"
        set audit_status = #{audit_status}
        where deleted = false and id = #{id} AND audit_status = 'WAITING';
    </update>
</mapper>